.recommend-container{
  .title{
    font-size: 40px;
    margin: 30px 30px 0;
  }
  .app-list{
    display: flex;
    padding: 30px;
    border-bottom: 1px solid #eee;
    overflow: scroll;
  }
  .app-item{
    padding: 0 20px;
    font-size: 32px;
    color: #333;
    &:first-child{
      padding-left: 0;
    }
    .app-icon{
      width: 150px;
    }
    .app-name{}
    .app-categray{
      color: #666;
    }
  }
}